{% extends "global/base.html" %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="errors">
    <div class="info-errors">
        <h2 class='title_errors'>Erros</h2>
        <p>Aconteceu um erro com você? Sentimos muito pelo incoveniênte, mas aqui você encontrará informações mais precisas e poderá solucionar alguma dúvida.</p>
        <p>A imagem abaixo exibe um erro que você poderá encontrar, ela sempre será vermelha e apresentará no final um número entre colchetes "[ ]":</p>
        <img src="{% static "global/imgs/error_exemple.png" %}" alt="uma imagem de erro 603 para ilustrar um erro">
        <p>É importante que você veja o número entre colchetes e que venha a esta página para entender o problema.</p>
    </div>
    <div class="info-errors">
        <h2 class='title_errors'>Códigos de Erros</h2>
        <div class="startsin6 error-div">
            <h3>Inicia com o número "6":</h3>
            <p><i>Representa um erro relacionado ao usuário (você).</i></p>
            <ul class="errors-list">
                <li><b>601: “O login falhou.”:</b> Provavelmente você errou suas credenciais ou não está com o login ativo (suspenso).</li>
                <li><b>602: “Algo deu errado”:</b> Você provavelmente esqueceu de preencher algum campo. Caso não, você mandou uma informação incorreta em um campo específico. Se atente ao que se pede abaixo dos campos de dados.</li>
                <li><b>603: “Nenhuma aula para este dia/escola foi encontrada.”:</b> você selecionou uma escola ou dia da semana que não possui aulas cadastradas em nosso sistema. Adicione uma aula para este dia e escola em Aulas > Adicionar Aula, ou <a href="{% url "home:matter_add" %}">clique aqui</a>.</li>
                <li><b>604: “Você já baixou o arquivo. Você não pode baixar duas vezes.”:</b> Você clicou em baixar o planejamento gerado duas vezes. O planejamento já foi baixado, verifique o local onde são baixados os arquivos no seu computador.</li>
                <li><b>605: “Você não está autenticado.”:</b> Você tentou editar seu perfil, mas não conseguimos detectar seu login. Faça login e tente novamente.</li>
                <li><b>606: “Dados Inválidos.”:</b> Você tentou editar seu perfil, mas algum campo que você enviou está inválido.</li>
                <li><b>607: “Você não possui acesso a essa página com o plano Free.”:</b> Você está tentando acessar uma página onde o acesso Free não lhe dá acesso.</li>
            </ul>
        </div>
        <div class="startsin7 error-div">
            <h3>Inicia com o número "7":</h3>
            <p><i>Representa um erro relacionado ao site (nós).</i></p>
            <ul class="errors-list">
                <li><b>701: “Ocorreu um erro inesperado ao gerar seu planejamento, tente novamente.”:</b> Erro interno. Entre em contato com o administrador.</li>
                <li><b>702: “Seu planejamento foi gerado, mas não foi encontrado no nosso banco de dados, tente novamente.”:</b> Houve um erro ao buscar seu arquivo no nosso sistema, tente criar outro em "Planejamento" ou <a href="{% url "home:planning" %}">clique aqui</a>. Caso aconteça novamente, entre em contato com o administrador.</li>
                <li><b>703: “O cadastro falhou.”:</b> Houve um erro ao te cadastrar em nossos sistemas. Tente novamente, se persistir, entre em contato com o suporte.</li>
            </ul>
        </div>
    </div>
</div>
{% else %}
<div class="errors">
    <div class="info-errors">
        <h2 class='title_errors'>Erros</h2>
        <p>Aconteceu um erro com você? Sentimos muito pelo incoveniênte, mas aqui você encontrará informações mais precisas e poderá solucionar alguma dúvida.</p>
        <p>A imagem abaixo exibe um erro que você poderá encontrar, ela sempre será vermelha e apresentará no final um número entre colchetes "[ ]":</p>
        <img src="{% static "global/imgs/error_exemple.png" %}" alt="uma imagem de erro 603 para ilustrar um erro">
        <p>É importante que você veja o número entre colchetes e que venha a esta página para entender o problema.</p>
    </div>
    <div class="info-errors">
        <h2 class='title_errors'>Códigos de Erros</h2>
        <div class="startsin6 error-div">
            <h3>Inicia com o número "6":</h3>
            <p><i>Representa um erro relacionado ao usuário (você).</i></p>
            <ul class="errors-list">
                <li><b>601: “O login falhou.”:</b> Provavelmente você errou suas credenciais ou não está com o login ativo (suspenso).</li>
            </ul>
        </div>
        <div class="startsin7 error-div">
            <h3>Inicia com o número "7":</h3>
            <p><i>Representa um erro relacionado ao site (nós).</i></p>
            <ul class="errors-list">
                <li><b>703: “O cadastro falhou.”:</b> Houve um erro ao te cadastrar em nossos sistemas. Tente novamente, se persistir, entre em contato com o suporte.</li>
            </ul>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}