{% extends "global/base.html" %}

{% block content %}
<div class="align-itens-index">
<h2><span class='cumprimento'>Olá</span> {{ user.first_name }}, o que vamos fazer?</h2>
<div class="grid-index">
    <div class="element-index">
        <a href="{% url "home:planning" %}">
            <p class='title-link'>Criar Planejamento</p> 
            <hr>
            <p class='description-link'>Crie seus planejamentos com Inteligência Artificial, e adapte para o seu conteúdo desejado.</p>
        </a>
    </div>

    <div class="element-index">
        <a href="{% url "home:matter" %}">
            <p class='title-link'>Gerenciar Aulas</p> 
            <hr>
            <p class='description-link'>Adicione, gerencie, edite ou apague suas aulas.</p>
        </a>
    </div>

    <div class="element-index">
        <a href="{% url "home:tutorials" %}">
            <p class='title-link'>Nossos Tutoriais</p>
            <hr>
            <p class='description-link'>Aprenda a usar o site da melhor forma com vídeos rápidos e explicativos.</p>
        </a>
    </div>
</div>
</div>
{% endblock content %}
