{% extends "global/base.html" %}

{% block content %}
<section class="know_us">
    <div class="title">
        <h2>ED Planejamentos</h2>
    </div>
    <div class="video">
        <p>Assista o vídeo para nos conhecer:</p>
        <div id='knowUs'></div>
    </div>
    <div class="convite">
        <p>Gostaria de receber maiores informações ou até nos contratar?</p>
        <p>Entre em contato clicando no email abaixo, ou escreva para nós no mesmo.</p>
        <a href="mailto:endryusdaniel6321@gmail.com">endryusdaniel6321@gmail.com</a>
    </div>
    {% endblock content %}
</section>
  </body>
</html>