{% extends "global/base.html" %}
{% load static %}

{% block content %}
<section class="know_us">
    <div class="title">
        <h2>Boas vindas a ED Planejamentos</h2>
    </div>
    <div class="convite">
        <p>Nós somos uma pequena empresa focada em ajudar profissionais da educação. Queremos simplificar a forma que você planeja suas aulas, com ferramentas que aceleram a sua produtividade e que te propicie mais tempo livre.</p>
        <p>Te convidamos a nos conhecer melhor e entender como nós trabalhamos assistindo o vídeo abaixo:</p>
    </div>
    <div class="video">
        <p>Quem somos?</p>
        <div id='knowUs'></div>
    </div>
    <div class="convite">
        <p>Gostaria de receber maiores informações ou até nos contratar?</p>
        <p>Entre em contato conosco nas redes abaixo.</p>
        <div class="contact">
            <a href="mailto:edplanejamentos1@gmail.com"><img class='logo-contact-us' src="{% static "global/imgs/email.svg" %}" alt="logo do email para entrar em contato">edplanejamentos1@gmail.com</a>
            <a href="https://api.whatsapp.com/send?phone=5543984117588&text=Ol%C3%A1%2C%20gostaria%20de%20receber%20mais%20informa%C3%A7%C3%B5es%20sobre%20a%20ED%20Planejamentos."><img class='logo-contact-us' src="{% static "global/imgs/whatsapp.svg" %}" alt="logo do whatsapp para entrar em contato">Clique aqui</a>
        </div>
    </div>
    {% endblock content %}
</section>
  </body>
</html>