{% extends "global/base.html" %}

{% block content %}
<section class="know_us">
    <div class="title">
        <h2>Boas vindas a ED Planejamentos</h2>
    </div>
    <div class="convite">
        <p>Nós somos uma pequena empresa focada em ajudar profissionais da educação. Queremos simplificar a forma que você planeja suas aulas, com ferramentas que aceleram a sua produtividade e que te propicie mais tempo livre.</p>
        <p>Te convidamos a nos conhecer melhor e entender como nós trabalhamos assistindo o vídeo abaixo:</p>
    </div>
    <div class="video">
        <p>Quem somos?</p>
        <div id='knowUs'></div>
    </div>
    <div class="convite">
        <p>Gostaria de receber maiores informações ou até nos contratar?</p>
        <p>Entre em contato clicando no email abaixo, ou escreva para nós no mesmo.</p>
        <a href="mailto:edplanejamentos1@gmail.com">edplanejamentos1@gmail.com</a>
    </div>
    {% endblock content %}
</section>
  </body>
</html>