{% extends "global/base.html" %}

{% block content %}

<div class="container">
   <h2 class="mt-2">Tutoriais:</h2>
    <div class="accordion" id="accordionExample">
      <div class="item">
         <div class="item-header" id="headingOne">
            <h2 class="mb-0">
               <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Como cadastrar e gerenciar aulas?
               <i class="fa fa-angle-down"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z"/></svg></i>
               </button>
            </h2>
         </div>
         <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="t-p">
                <div id='matterHelp' class='player'></div>
            </div>
         </div>
      </div>
      <div class="item">
         <div class="item-header" id="headingTwo">
            <h2 class="mb-0">
               <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Como criar planejamentos?
               <i class="fa fa-angle-down"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-200 240-440l56-56 184 183 184-183 56 56-240 240Zm0-240L240-680l56-56 184 183 184-183 56 56-240 240Z"/></svg></i>
               </button>
            </h2>
         </div>
         <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
            data-parent="#accordionExample">
            <div class="t-p">
              <div class="player" id='plannerHelp'></div>
            </div>
         </div>
      </div>
    </div>
    </div>
{% endblock content %}

