{% extends "global/base.html" %}

{% block content %}
<div class="form-planning">
    <h1>Criar Planejamento</h1>
    <form method='post' action="{% url "teachers:planning_create" %}">
        {% csrf_token %}
        <div class="select-school-form-planning div-form-planning">
            <label for="school">Escola:</label>
            <select name="school" id="school">  
                {% for school in schools %}
                    <option value="{{ school.pk }}">{{ school.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-date-form-planning div-form-planning">
            <label for="data_planejamento">Data:</label>
            <input type="date" name="data_planejamento" id='data_planejamento' required>
        </div>
        <div class="btns-planning-create">
            <button type="submit" class='btn btn-primary'>Criar</button>
        </div>
    </form>
</div>
{% endblock content %}