{% load static %}
<div class="grid-footer">
    <div class="map-site">
        {% if user.is_authenticated %}
            <nav class='navigator-footer'>
                <p class='title-map-site'>Geral</p>
                <a href="{% url "home:planning" %}">Planejamentos</a>
                <a href="{% url "home:matter" %}">Aulas</a>            
            </nav>
        {% endif %}
        <nav class='navigator-footer'>
            <p class='title-map-site'>Suporte</p>
            <a href="{% url "home:tutorials" %}">Tutoriais</a>
            <a href="{% url "home:errors" %}">Erros</a>
            {% if user.is_authenticated %}
                <a href="mailto:edplanejamentos1@gmail.com?subject=Pedido%20de%20Suporte%20ED%20Planejamentos&body=*obs%3A%20n%C3%A3o%20altere%20o%20assunto%20(t%C3%ADtulo)%20do%20email.">Contato</a>
            {% endif %}
        </nav>
    </div>
    <div class="links-owner-footer">
        <a href="{% url "home:home" %}"><img class='img-logo-completa-footer' src="{% static "global/imgs/logo_ed_planejamentos_completa.png" %}" alt="logo do site em formato completo escrito 'ed planejamentos'"></a>
        <p>Desenvolvido por <a href="">Endryus Daniel</a>. Todos os direitos reservados©</p>
    </div>
</div>
<hr>
<div class="info-contact">
    <div>
        <span>Email:</span>
        <p>edplanejamentos1@gmail.com</p>
    </div>
</div>