<div class="map-site">
    <ul class='list-links'>
        <li><a href="{% url "home:planning" %}">Tutoriais</a></li>
        <li><a href="{% url "home:errors" %}">Erros</a></li>
        {% if user.is_authenticated %}
            <li><a href="mailto:endryusdaniel6321@gmail.com?subject=Pedido%20de%20Suporte%20ED%20Planejamentos&body=*obs%3A%20n%C3%A3o%20altere%20o%20assunto%20(t%C3%ADtulo)%20do%20email." %}">Suporte</a></li>
        {% endif %}
    </ul>
</div>
<div class="links-owner-footer">
    <p>Desenvolvido por <a href="https://endryus-daniel.vercel.app" target="_blank">Endryus Daniel</a>. Todos os direitos reservados©</p>
</div>