{% load static %}
<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
            <img src="{% static "global/imgs/logo-sem-fundo.png" %}" alt="" class="bi me-2 img-logo-completa-footer">
        </a>
        <p class="text-body-secondary">Desenvolvido por <a href="https://endryus-daniel.vercel.app" target="_blank">Endryus Daniel</a> © Todos os direitos reservados</p>
        <p class="text-body-secondary email-div-footer">edplanejamentos1@gmail.com</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      {% if user.is_authenticated %}
      <div class="col mb-3">
        <h5>GERAL</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url "home:planning" %}" class="nav-link p-0 text-body-secondary navigator-footer-a">Planejamentos</a></li>
          <li class="nav-item mb-2"><a href="{% url "home:matter" %}" class="nav-link p-0 text-body-secondary navigator-footer-a">Aulas</a></li>
          <li class="nav-item mb-2"><a href="{% url "home:activities" %}" class="nav-link p-0 text-body-secondary navigator-footer-a">Atividades</a></li>
        </ul>
      </div>
      {% endif %}
  
      <div class="col mb-3">
        <h5>AJUDA</h5>
        <ul class="nav flex-column">
            {% if user.is_authenticated %}
                <li class="nav-item mb-2"><a href="{% url "home:tutorials" %}" class="nav-link p-0 text-body-secondary navigator-footer-a">Tutoriais</a></li>
            {% endif %}
          <li class="nav-item mb-2"><a href="{% url "home:contact" %}" class="nav-link p-0 text-body-secondary navigator-footer-a">Contato</a></li>
          <li class="nav-item mb-2"><a href="{% url "home:errors" %}" class="nav-link p-0 text-body-secondary navigator-footer-a">Erros</a></li>
        </ul>
      </div>

      <div class="col mb-3">
        <h5>CHATBOT</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="{% url "home:ia_question" %}" class="nav-link p-0 text-body-secondary navigator-footer-a">ED IA</a></li>
        </ul>
      </div>

      </div>
    </footer>
  </div>