{% extends "global/base.html" %}
{% load static %}

{% block content %}
<div class="add_new_matter">
  <a href="{% url "home:matter_add" %}">Adicionar Aula</a>
</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-2">Suas Aulas Cadastradas</h1>
        <div class="grid-matters">
          {% if matters %}
        {% for matter in matters %}
            <div class='matter'>
                <div class="aula"><a href="{% url "home:matter_view" matter.pk %}">{{ matter.matter }}</a></div>
                <div class="infos">
                    <p class='descriptin-matter'>Descrição:</p>
                    <ul>
                        <li><img class='icon-description-matter' src="{% static "global/imgs/home.svg" %}" alt="casa em svg">{{ matter.school }}</li>
                        <li><img class='icon-description-matter' src="{% static "global/imgs/calendar.svg" %}" alt="calendário em svg">{{ matter.get_day_week_display }}</li>
                        <li><img class='icon-description-matter' src="{% static "global/imgs/clock.svg" %}" alt="relógio em svg">{{ matter.hour }}h</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
        {% else %}
          <div class='not-matter-registred'>
            <h3>Nenhuma aula cadastrada. Cadastre uma clicando <a href="{% url "home:matter_add" %}">aqui</a></h3>
          </div>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}