{% extends "global/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <form method="post" class='register-form'>
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-8">
              <h1 class="mt-2 form-check-inline">Crie sua conta</h1> <span>caso você já tenha uma conta, <a href="{% url "home:login" %}">faça login</a>.</span>
              {{ form|crispy }}
              <button type="submit" class='btn btn-primary'>Cadastrar</button>
            </div>
          </div>
        </div>
    </form>
</div>
<script src="{% static "global/js/validation.js" %}"></script>
{% endblock content %}