{% extends "global/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block content %}
    <form method='post' class='register-form'>
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-8">
                <h1 class="mt-2">Editar Perfil</h1>
                <div class="blocked">
                  {{ form|crispy }}
                  {% if execute_js %}
                    <input type="button" value='Salvar' disabled class='btn btn-primary'>
                  {% else %}
                    <button type="submit" class='btn btn-primary'>Salvar</button>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
    </form>

    <div class="modal-page">
      <div class="modal-content">
        <h5>Insira o código que você recebeu no seu e-mail</h5>
        <span>*considere checar a caixa de span</span>
        <input type="number" class='code' required>
        <button id='verifyCode' class='btnVerifyCode btn btn-primary'>Verificar</button>
        <button id='resendCode' class='btnVerifyCode btn btn-danger'>Reenviar Código</button>
        <a class='btnVerifyCode btn btn-secondary' href='{% url "home:edit_profile" user.pk %}'>Preencher Novamente</a>
      </div>
    </div>
    {% render_bundle 'validation' %}
    {% if execute_js %}
      {% render_bundle 'codeVerify' %}
    {% endif %}
{% endblock content %}