{% extends "global/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form action="" method='post'>
        {% csrf_token %}
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-8">
                <h1 class="mt-2">Faça login</h1>
                {{ form|crispy }}
                <button type="submit" class='btn btn-secondary'>Entrar</button>
                {% comment %} adicione a url da propaganda {% endcomment %}
                <a class='btn btn-cadastrar' href='{% url "home:login" %}'>Cadastrar-se</a>
              </div>
            </div>
          </div>
    </form>
{% endblock content %}