{% extends "global/base.html" %}

{% block content %}
<div class="container">
<form action="{% url "home:ia_question" %}" method="post">
    {% for query_prompts in prompt_model.context %}
        {% if query_prompts.role == 'user' %}
            <div class="flex">
                <div class='user-prompt'>{{ query_prompts.content }}</div><br>
            </div>
        {% endif %}
        {% if query_prompts.role == 'assistant' %}
            <div class='ia-response'>{{ query_prompts.content }}</div><br>
        {% endif %}
    {% endfor %} 

    {% csrf_token %}
    <div class="input-group mb-3">
        <input name='prompt' type="text" class="form-control" placeholder="escreva aqui">
        <button class="btn btn-outline-secondary" type="submit">Enviar</button> 
        {% comment %} validar se tem caracteres no campo {% endcomment %}
    </div>
</form>
</div>
{% endblock content %}