{% extends "global/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    {% for query_prompts in prompt_model.context %}
    {% if query_prompts.role == 'user' %}
    <div class="flex">
        <div class='user-prompt'>{{ query_prompts.content }}</div><br>
    </div>
    {% endif %}
    {% if query_prompts.role == 'assistant' %}
    <div class='ia-response'><pre>{{ query_prompts.content }}</pre></div><br>
    {% endif %}
    {% endfor %} 
    
    <form action="{% url "home:ia_question" %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3 form-ia">
        <input name='prompt' type="text" class="form-control" placeholder="escreva aqui">
        <button class="btn btn-outline-secondary" type="submit">Enviar</button> 
        {% comment %} validar se tem caracteres no campo {% endcomment %}
    </div>
</form>
</div>
<script src="{% static "global/js/iaScriptPage.js" %}"></script>   
{% endblock content %}