{% extends "global/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}


{% block content %}
<div class="container">
    {% for query_prompts in prompt_model.context %}
    {% if query_prompts.role == 'user' %}
    <div class="flex">
        <div class='user-prompt'>{{ query_prompts.content }}</div><br>
    </div>
    {% endif %}
    {% if query_prompts.role == 'assistant' %}
        <div class='ia-response'><pre>{{ query_prompts.content }}</pre></div><br>
    {% endif %}
    {% endfor %} 
    <div class="generateAnwser">
        <h1>Gerando uma Reposta</h1>
        <div class="spinner"></div>
        <div class="text-explaine">
            <p>Nossa IA está formando a melhor resposta para a sua pergunta!</p>
        </div>
    </div>
    
    <form action="{% url "home:ia_question" %}" method="post" class='form-ia'>
    {% csrf_token %}
    <div class="input-group mb-3">
        <input id="input-prompt" name='prompt' type="text" class="form-control" placeholder="escreva aqui">
        <button class="btn btn-outline-secondary" type="submit">Enviar</button> 
    </div>
</form>
</div>
{% render_bundle 'iaScript' %}
{% endblock content %}