{% extends "global/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h2>Repositório de Atividades</h2>
    <form action="{% url "home:activities" %}" method='get'>
        <div class="input-group mb-3 mt-4">
            <span class="input-group-text">Digite palavras chave:</span>
            <input value="{{ search }}" type="text" class="form-control input-terms-activities" name='q' placeholder="Escreva alguns termos aqui" aria-describedby="button-addon2">
            <i class="fa-solid fa-rotate-left" id='clear'></i>
            <button class="btn btn-outline-dark" type="submit" id="button-addon2">Buscar</button>
          </div>
    </form>

    <div class="grid-activities">
        {% if activities %}
            {% for activity in activities %}
                <a href="{% url "home:activity_view" activity.slug %}" class='div-activity'>
                    <div class="activity">
                        <img src="{{ activity.url_image.url }}">
                        <h5>{{ activity.title }}</h5>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <div class='not-matter-registred mt-3'>
                <h3>Nenhuma atividade encontrada. Tente fazer uma outra pesquisa.</h3>
            </div>
        {% endif %}
    </div>
</div>
<script src="{% static "global/js/clearField.js" %}"></script>
{% endblock content %}