<div class="container">
    <div class="grid">
        {% for atividade in activities %}
            <div class="activity">
                <img src="{{ atividade.url_image.url }}" alt="Imagem da atividade">
                <button class="useActivityButton" data-id="{{ atividade.id }}">Use</button>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    btn = document.querySelectorAll(".useActivityButton")
    btn.forEach(value =>
        value.addEventListener("click", function() {
            window.opener.postMessage("id_image", this.getAttribute('data-id')); 
            window.close();
        });
    });
</script>