html {
    overflow-x: hidden;
}

red {
    color: red;
}

.grid-matters {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    gap: 2rem;
}

@media (min-width: 600px) {
    .grid-matters { grid-template-columns: repeat(2, 1fr); }
  }
  
@media (min-width: 900px) {
.grid-matters { grid-template-columns: repeat(3, 1fr); }
}

.matter {
    background-color: #eee;
    padding: 2rem;
    border-radius: 1rem;
}

.matter .aula {
    font-size: 24px;
    padding-bottom: 1rem;
    text-align: center;
}

.descriptin-matter {
    font-weight: bold;
}

.icon-description-matter {
    width: 20px;
    vertical-align: text-top;
    margin-right: 5px;
}

.message {
    max-width: 500px;
    margin: 0 auto;
    margin-top: calc(7px * 2);
    padding: 0.5rem;
    text-align: center;
    border-radius: 7px;
    font-size: 18px;
}

.message.success {
    background: rgba(0, 255, 0, 0.3);
    border: 1px solid rgba(0, 255, 0, 90%);
}

.message.error {
    background: rgba(255, 0, 0, 0.207);
    border: 1px solid rgba(255, 0, 0, 90%);
}

.message.warning {
    background: rgba(242, 242, 140, 0.3);
    border: 1px solid rgb(255, 255, 0);
}

.message.info {
    background: rgba(85, 88, 255, 0.3);
    border: 1px solid rgba(79, 146, 255, 0.9);
}

.confirm_apagar {
    padding-top: 1rem;
}

.confirm_apagar label {
    margin-left: .5rem;
    margin-top: 4px;
}

.principal_header {
    background-color: #d0d0d0;
    padding-bottom: 1.5rem;
    border-radius: 0 0 30px 30px;
    margin-bottom: 2rem;
}

.site_title {
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 25px;
}

.navigator .links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.links li {
    margin: 0 1rem;
}

.links li a {
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 4px 3px 10px black;
}

.add_new_matter a {
    margin: 1rem;
    background-color: #9b9b9b;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.add_new_matter a:hover {
    color: white;
    text-decoration: none;
}

.info-create-planning {
    margin: 2rem 0 2rem 2rem;
    padding: 1rem;
    width: 90vw;
    border-radius: 1rem;
    box-shadow: 4px 5px 9px black;
}

.warning-planning {
    background-color: rgba(255, 255, 163, 0.407);
    border: 1px solid rgb(243, 255, 12);
    width: 50vw;
    margin: .5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.grid-planning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.matter-create-planning {
    margin: 2rem;
    background-color: #eee;
    padding: 2rem;
    border-radius: 1rem;
}

.info {
    margin-bottom: 1rem;
}

.info h3 {
    display: inline;
    vertical-align: sub;
}

.form-area label,
.form-area span {
    display: block;
}

.form-area textarea {
    padding: 1rem;
}

.btns-planning-create {
    text-align: center;
    margin: 2rem 0;
}

.info-finish-planning {
    background-color: #eee;
    width: 50vw;
    margin: 1rem auto;
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
}

.info-finish-planning p {
    font-size: 20px;
    font-weight: bold;
}