.grid-matters {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    gap: 2rem;
}

@media (min-width: 600px) {
    .grid-matters { grid-template-columns: repeat(2, 1fr); }
  }
  
@media (min-width: 900px) {
.grid-matters { grid-template-columns: repeat(3, 1fr); }
}

.matter {
    background-color: #eee;
    padding: 2rem;
    border-radius: 1rem;
}

.matter .aula {
    font-size: 24px;
    padding-bottom: 1rem;
    text-align: center;
}

.descriptin-matter {
    font-weight: bold;
}

.icon-description-matter {
    width: 20px;
    vertical-align: text-top;
    margin-right: 5px;
}

.message {
    max-width: 500px;
    margin: 0 auto;
    margin-top: calc(7px * 2);
    padding: 0.5rem;
    text-align: center;
    border-radius: 7px;
    font-size: 18px;
}

.message.success {
    background: rgba(0, 255, 0, 0.3);
    border: 1px solid rgba(0, 255, 0, 90%);
}

.message.error {
    background: rgba(255, 0, 0, 0.207);
    border: 1px solid rgba(255, 0, 0, 90%);
}

.message.warning {
    background: rgba(242, 242, 140, 0.3);
    border: 1px solid rgb(255, 255, 0);
}

.message.info {
    background: rgba(85, 88, 255, 0.3);
    border: 1px solid rgba(79, 146, 255, 0.9);
}