:root {
    --color-header-footer: #053b74;
    --default-text-color: #fff;
    --background-color-cards: #fff;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

total-content {
    display: flex;
    height: 100%;
    margin: 0;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.principal_body {
    background-color: #f5f5f5;

}

.btn-cadastrar {
    background-color: rgb(0, 150, 0);
    color: var(--default-text-color);
}

.player {
    margin: 0 auto;
    display: flex;
}


red {
    color: red;
}

a:hover {
    text-decoration: none;
}

.principal_main {
    flex: 1;
}

.grid-matters {
    display: grid;
    grid-template-columns: repeat(auto-fill);
    gap: 2rem;
}

@media (min-width: 600px) {
    .grid-matters { grid-template-columns: repeat(2, 1fr); }
  }
  
@media (min-width: 900px) {
.grid-matters { grid-template-columns: repeat(3, 1fr); }
}

.matter {
    background-color: var(--background-color-cards);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px black;
}

.matter .aula {
    font-size: 24px;
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bold;
}

.descriptin-matter {
    font-weight: bold;
}

.icon-description-matter {
    width: 20px;
    vertical-align: text-top;
    margin-right: 5px;
}

.message {
    max-width: 500px;
    margin: 0 auto;
    margin-top: calc(7px * 2);
    padding: 0.5rem;
    text-align: center;
    border-radius: 7px;
    font-size: 18px;
    margin-bottom: 1rem;
}

.message.success {
    background: rgba(0, 255, 0, 0.3);
    border: 1px solid rgba(0, 255, 0, 90%);
}

.message.error {
    background: rgba(255, 0, 0, 0.207);
    border: 1px solid rgba(255, 0, 0, 90%);
}

.message.warning {
    background: rgba(242, 242, 140, 0.3);
    border: 1px solid rgb(255, 255, 0);
}

.message.info {
    background: rgba(85, 88, 255, 0.3);
    border: 1px solid rgba(79, 146, 255, 0.9);
}

.confirm_apagar {
    padding-top: 1rem;
}

.confirm_apagar label {
    margin-left: .5rem;
    margin-top: 4px;
}

.principal_header {
    background: var(--color-header-footer);
    /* border-radius: 0 0 40px 40px; */
    margin: 1.2rem 1.2rem 3rem 1.2rem;
    border-radius: 2rem;
    padding: .5rem 0 1.5rem 0;

}

.site_title {
    position: relative;
    top: 15px;
    left: 15px;
    font-size: 25px;
}

.logo {
    display: block;
    text-align: center;
}

.img-logo-completa-header {
    width: 5rem;
}


.navigator {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.8rem;
}


.navigator a {
    color: var(--default-text-color);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 0 1rem;
}

.nav-profile-links {
    width: 10%;
    float: right;
}

.nav-profile-links div {
    display: inline;
}

.nav-profile-links a {
    margin: 0 .5rem;
}

.title-matters {
    margin-bottom: 2rem;
}

.add_new_matter a {
    margin: 2.3rem;
    background-color: #4a90e2;
    display: inline;
    padding: 1rem;
    border-radius: 10px;
    color: var(--default-text-color);
    text-decoration: none;
}

.add_new_matter a:hover {
    color: var(--default-text-color);
    text-decoration: none;
}

.info-create-planning {
    margin: 2rem auto;
    padding: 1rem;
    width: 90vw;
    border-radius: 1rem;
    box-shadow: 4px 5px 9px black;
}

.info-finish-planning-mt {
    margin-top: 1rem;
}

.warning-planning {
    background-color: rgba(255, 255, 163, 0.233);
    border: 1px solid rgb(243, 255, 12);
    width: 50vw;
    margin: .5rem auto;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.grid-planning {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.matter-create-planning {
    margin: 2rem;
    background-color: #eee;
    padding: 2rem;
    border-radius: 1rem;
}

.info {
    margin-bottom: 1rem;
}

.info h3 {
    display: inline;
    vertical-align: sub;
}

.form-area label,
.form-area span {
    display: block;
}

.form-area textarea {
    padding: 1rem;
    border-radius: 5px;
}

.btns-planning-create {
    text-align: center;
    margin: 2rem 0;
}

.info-finish-planning {
    background-color: #eee;
    width: 50vw;
    margin: 1rem auto;
    text-align: center;
    padding: 3rem;
    border-radius: 1rem;
}

.info-finish-planning p {
    font-size: 20px;
    font-weight: bold;
}

.form-planning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    width: 50vw;
    margin: 0 auto;
    box-shadow: 3px 5px 19px black;
    background-color: var(--background-color-cards);
}

.div-form-planning {
    margin: 1rem;
    font-size: 16px;
}

.div-form-planning select, .div-form-planning input {
    padding: .8rem 1rem;
    border: transparent;
    border-radius: 2px;
    background-color: #dcdcdc;
    
}

.div-form-planning label {
    font-size: 16px;
}

.principal_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #053b74;
    padding: 2rem;
    margin: 3rem 1.2rem 1.2rem 1.2rem;
    color: var(--default-text-color);
    border-radius: 2rem;
}

.segura-footer {
    display: block;
    border: 1px solid white;
}

.grid-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18vw;
}

.title-map-site {
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}

.img-logo-completa-footer {
    width: 7rem;
}

.map-site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
}

.map-site, .links-owner-footer {
    margin: 0 auto;
}

.navigator-footer {
    text-align: left;
}

.navigator-footer a {
    display: block;
    font-size: 15px;
    font-family: 'Noto Sans' sans-serif;
    font-weight: 100;
    color: #ffffff;
}


.links-owner-footer {
    font-size: 16px;
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.principal_footer hr {
    border: 1px solid rgba(96, 96, 96, 0.658);
    width: 80vw;
}

.info-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    padding: 0;
    gap: 26vw;
}

.email-div-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

.email-div-footer span {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
}

.list-links {
    list-style: none;
}

.list-links li {
    display: inline;
    margin: 0 1rem;
    text-transform: uppercase;
}

.not-matter-registred {
    background-color: #eee;
    padding: 2rem;
    width: 50vw;
    border-radius: 1rem;
}

.align-itens-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-index {
    display: grid;
    grid-template-columns: repeat(auto-fill);
}


@media (min-width: 600px) {
    .grid-index { grid-template-columns: repeat(2, 1fr); }
  }
  
@media (min-width: 900px) {
.grid-index { grid-template-columns: repeat(3, 1fr); }
}


.element-index {
    background-color: var(--background-color-cards);
    width: 25vw;
    min-height: 30vh;
    height: auto;
    border-radius: 1rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 1px 1px 10px black;
    border: 1px solid #d1d5db;
}

.element-index hr {
    border: 1px solid rgba(132, 132, 132, 0.466);
    border-radius: 10px;
}

.element-index a {
    font-weight: 600;
    transition: all 200ms ease-out;
    text-align: center;
}

.element-index a:hover {
    color: var(--default-text-color);
    text-decoration: none;
    transform: scale(1.1);
}

.title-link {
    color: #333;
    font-weight: bold;
    font-size: 22px;
}

.description-link {
    color: rgb(74, 74, 74);
    font-size: 19px;
    vertical-align: middle;
}

.wait {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #eee;
    padding: 3rem;
    border-radius: 2rem;
    z-index: 1000;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    border: 1px solid #939393;
}

.errors {
    width: 70vw;
    margin: 0 auto;
}

.info-errors {
    margin: 3rem auto;
    background-color: #eee;
    text-align: left;
    padding: 1rem;
    border-radius: 1rem;
}

.title_errors {
    text-align: center;
}

.list-links {
    font-size: 18px;
}

.know_us {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.know_us .video {
    margin: 2rem 0;
}

.know_us .convite {
    text-align: center;
    font-size: 20px;
}

.linha-vertical {
    height: 30px;/*Altura da linha*/
    border-left: 1.5px solid rgb(147, 147, 147);/* Adiciona borda esquerda na div como ser fosse uma linha.*/
}


/* table plann */
.table {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 2rem 0rem 0rem 0rem;
    max-width: 1100px;
  }
  
  .table-cell {
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    padding: 0.8em 1.2em;
    overflow: hidden;
    list-style-type: none;
    outline: 1px solid #ddd;
    text-align: center;
    font-weight: 300;
    &:nth-child(3) {
      outline: 1px solid #30305b;
    }
    > h3 {
      font-size: 26px;
    }
    &.cell-feature {
        text-align: left;
      font-size: 18px;
    }
    &.plattform {
      color: limegreen;
      a.btn {
        color: limegreen;
        &:hover {
          background-color: limegreen;
          border-color: limegreen;
          color: white;
        }
      }
    }
    &.enterprise {
      background-color: #30305b;
      color: #85bafc;
      a.btn {
        color: #85bafc;
        &:hover {
          background-color: #85bafc;
          border-color: #85bafc;
          color: #30305b;
        }
      }
    }
  }
  
  /* Table columns
  ================================== */
  .table-cell  {
    width: calc(33.33% - 1px);
    &.cell-feature {
        @media only screen and (max-width : 768px) {
            width: 100%;
            text-align: center;
        }
    }
  }
  
  svg.enterprise-check path {
    fill: #30305b !important
  }

  /* tutorials page */


  .accordion{
    margin: 40px 0;
  }
  .accordion .item {
      border: none;
      margin-bottom: 50px;
      background: none;
  }
  .t-p{
    color: rgb(193 206 216);
    padding: 40px 30px 0px 30px;
  }
  .accordion .item .item-header h2 button.btn.btn-link {
      background: #0360bc;
      color: white;
      border-radius: 0px;
      font-family: 'Outfit';
      font-size: 16px;
      font-weight: 400;
      line-height: 2.5;
      text-decoration: none;
  }
  .accordion .item .item-header {
      border-bottom: none;
      background: transparent;
      padding: 0px;
      margin: 2px;
  }
  
  .accordion .item .item-header h2 button {
      color: white;
      font-size: 20px;
      padding: 15px;
      display: block;
      width: 100%;
      text-align: left;
  }
  
  .accordion .item .item-header h2 i {
      float: right;
      font-size: 30px;
      color: #eca300;
      background-color: rgb(0, 1, 62);
      width: 60px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
  }
  
  button.btn.btn-link.collapsed i {
      transform: rotate(0deg);
  }
  
  button.btn.btn-link i {
      transform: rotate(180deg);
      transition: 0.5s;
  }
  