{% extends "global/base.html" %}
{% load static %}
{% block content %}

<div class="info-create-planning">
    <h1>Criando planejamento para {{ day_planning|date:'d/m/Y' }} ({{ day_week }})</h1>
    <span><i>(considere checar no calendário se o dia da semana e a data coincidem)</i></span>
</div>
<div class='warning-planning'>
    <h2>Atenção!</h2>
    <p>Nos campos de escrita abaixo, escreva o conteúdo da sua aula. <red>Lembre-se</red>, uma IA gerará um planejamento com base nas suas informações, seja específico para obter bons resultados.</p>
</div>
<form action="{% url "home:planning_generate" %}" method="post">
    {% csrf_token %}
    <div class="general-configs-card">
        <h2>Configurações do Documento:</h2>
        <div class="config">
            <label for="checkHourBased">Ordenar aulas por hora</label>
            <input type="checkbox" name="hourBased" id="checkHourBased" checked>
        </div>
        <div class="config">
            <label for="insertMyName">Inserir meu nome</label>
            <input type="checkbox" name="insertMyName" id="insertMyName" checked>
        </div>
        <div class="config">
            <label for="insertSchoolName">Inserir nome da escola</label>
            <input type="checkbox" name="insertSchoolName" id="insertSchoolName" checked>
        </div>
    </div>
    <div class="grid-planning">
    {% for matter_selected in matters_selected_list %}
        {% for matter in matter_selected %}
            <div class="matter-create-planning">
                <div class="info">
                    <h3>Matéria: {{ matter.matter }}</h3>
                    <span>({{ matter.hour }}h)</span>
                </div>
                <div class="form-area">
                    <label for="term_for_ia">Escreva o conteúdo da aula (para IA):</label>
                    <textarea rows='7' cols='60' maxlength='700' class='textarea-create-planning' name="term_for_ia-{{matter.pk}}" id='term_for_ia' placeholder='Nenhum texto no momento...'></textarea>
                    <div class="d-flex">
                        <span class='ml-auto count-caracteres'>0/700 caracteres</span>
                    </div>
                    <span><i>(deixe em branco caso não queira usar a IA para essa aula)</i></span>
                </div>
            </div>   
        {% endfor %}
    {% endfor %}
    <div class="matter-create-planning">
        <div class="info">
            <h3>Conteúdo Adicional</h3>
            <span>(opcional)</span>
            <p><i>este conteúdo será inserido no final do documento gerado</i></p>
        </div>
        <div class="form-area">
            <label for="aditional_content">Escreva um conteúdo adicional:</label>
            <textarea rows='7' cols='50' name="aditional_content" id='aditional_content' placeholder='Nenhum texto no momento...'></textarea>
            <span><i>(deixe em branco caso não queira adicionar um conteúdo extra)</i></span>
        </div>
    </div>
</div>
<div id='wait' class='modal-page'>
    <div class="wait modal-content">
        <p>Estamos Gerando seu Planejamento.</p>
        <p class='animation-p'>Isso pode demorar, mas <red>NÃO</red> saia da página</p>
    </div>
</div>

    <div class="btns-planning-create">
        <button type="submit" class='btn btn-primary' id='btnGerar'>Gerar</button>
        <a href={% url "home:planning" %} class='btn btn-secondary'>Voltar</a>
    </div>
</form>
<script src="{% static "global/js/loadPlanning.js" %}"></script>
<script src="{% static "global/js/caracteresCount.js" %}"></script>
{% endblock content %}