{% extends "global/base.html" %}
{% load static %}

{% block content %}
<div class="info-create-planning">
    <h1>Planejamento Gerado</h1>
</div>
<div class='warning-planning'>
    <h2>Atenção!</h2>
    <p>Essa é apenas uma base, <red>considere revisar o texto gerado pela IA, </red>pode conter falhas.</p>
    <p>Protocolo: {{ slug_file }}</p>
</div>

<div class="choice my-3">
    <p class="text-center lead">Escolha abaixo:</p>
    <div class="choices text-center">
        <div class="btn btn-outline-primary ver-docx">Baixar</div>
        <div class="btn btn-outline-danger ver-pdf">Ver em PDF</div>
    </div>
</div>

<div class="info-finish-planning">
    <p>Baixe o planejamento em formato '.docx' (Word) clicando no botão abaixo:</p>
    <form action="{% url "home:planning_finish" %}" method='post'>
        {% csrf_token %}
        <button type="submit" class='btn btn-primary'>Baixar</button>
    </form>
    <p class='info-finish-planning-mt'>*Por segurança, não salvamos os planejamentos em nossos sistemas. Eles ficam disponíveis algumas horas após ser gerado e é apagado automáticamente.</p>
</div>

<div class="info-finish-planning-pdf">
    <p class="text-center">A visualização em PDF pode estar comprometida. Caso queira baixar o arquivo, sempre opte por docx.</p>
    <object data="{{ MEDIA_URL }}files_docx_generated/planejamento_{{ slug_file }}.pdf" type="application/pdf" width="100%" height="600px">
        <p>Seu navegador não suporta exibição de PDF. <a href="{{ MEDIA_URL }}files_docx_generated/planejamento_{{ slug_file }}.pdf">Veja o PDF</a></p>
    </object>
</div>

<script src="{% static "global/js/showPlanning.js" %}"></script>

{% endblock content %}