{% extends "global/base.html" %}

{% block content %}
<div class="info-create-planning">
    <h1>Planejamento Gerado.</h1>
</div>
<div class='warning-planning'>
    <h2>Atenção!</h2>
    <p>Essa é apenas uma base, <red>considere revisar o texto gerado pela IA, </red>pode conter falhas.</p>
    <p>Protocolo: {{ slug_file }}</p>
</div>

<div class="info-finish-planning">
    <p>Baixe o planejamento em formato '.docx' (Word) clicando no botão abaixo:</p>
    <form action="{% url "home:planning_finish" %}" method='post'>
        {% csrf_token %}
        <button type="submit" class='btn btn-primary'>Baixar</button>
    </form>
    <p class='info-finish-planning-mt'>*Por segurança, não salvamos os planejamentos em nossos sistemas. Eles ficam disponíveis algumas horas após ser gerado e é apagado automáticamente.</p>
</div>

{% endblock content %}